h3{
    color: red;
}
p{
    color: goldenrod;
}
button{
    background-color:black;
    color: white;
}
header{
    text-align: center;
    background-color: lightgray;
    padding: 20px;
}
nav{
    background-color: bisque;
    padding: 10px;
    margin: 10px;
    text-align: end;
}
nav a{
    color: black; 
    text-decoration:none;
    word-spacing: 20px;    
}
section{
    border: 1px solid red;
    margin:20px;
    padding: 15px;
}
#header{
     color: black;
}
    
